/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-blue-1: #1a94ff; 
  --vt-c-blue-2: #40a6ff;
  --vt-c-blue-3: #69b9ff;
  --vt-c-blue-4: #98d0ff;

  --vt-c-orange-1: #ffb000;
  --vt-c-orange-2: #ffc33e;
  --vt-c-orange-3: #ffdc8e;
  --vt-c-orange-4: #ffe8b5;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f3f3f3;
  --vt-c-white-mute: #fbfbfb;

  --vt-c-black: #202020;
}

/* semantic color variables for this project */
:root {
  --bg: var(--vt-c-white);
  --bg-soft: var(--vt-c-white-soft);
  --bg-mute: var(--vt-c-white-mute);
  --text: var(--vt-c-black);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}